<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ siteTitle }}</title>
  <link rel="stylesheet" href="css/site.css">
<!-- {% block css -%}{%- endblock %} -->
</head>
<body>
  <h1>{{ siteTitle }}</h1>
  <ul>
    {%- for filename in images -%}
    <li><a href="img/{{ filename }}">{{ filename }}</a></li>
    {%- endfor -%}
  </ul>

{{ content }}

<!-- {% block main -%}
コンテンツ
{%- endblock %} -->

{% include partial/ad.html %}

<script src="js/site.js"></script>
{% block js -%}{%- endblock %}
</body>
</html>