<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ siteTitle }}</title>
  <link rel="stylesheet" href="css/site.css">
<!-- {% block css -%}{%- endblock %} -->
</head>
<body>
  <h1>{{ siteTitle }}</h1>
  <ul>
    {%- for filename in images -%}
    <li><a href="img/{{ filename }}">{{ filename }}</a></li>
    {%- endfor -%}
  </ul>

{{ content }}

{% include partial/ad.html %}

<script src="js/site.js"></script>

<footer>&copy; copyright <a href="{{ general.copyrighturl }}" target="_blank">{{ general.copyright }}</a> all rights reserved.</footer>
</body>
</html>